*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;

}

.rounded{
    border-radius: 10px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.bgc{
    background-color: #121212;
    
}
.bg-black{
    background-color: black;
}
.invert{
    filter: invert(1);
}

.m1{
    margin: 7px;
}
.m2{
    margin: 2rem;
}
.p-1{
    padding: 15px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
   
   

}
.footer a{
    color: gray;
    text-decoration: none;
    text-decoration: underline;
}




/* Customize scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    background-color: #2a2a2a; /* Background color of the scrollbar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Color of the thumb on hover */
}

/* Customize scrollbar for Firefox */
scrollbar-width: thin; /* Makes the scrollbar thinner */
scrollbar-color: #4a4a4a #2a2a2a; /* Thumb color and track color */
